.main {
  padding: 0;
  margin: 0;
}

.sliderWrapper {
  background-color: #282c34;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.sliderPicture {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  max-height: 600px;
  overflow: hidden;
}

.contentPicture {
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pictureWrapper img {
  width: 1080px;
  height: 600px;
}

.btnClick {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.btnClick button {
  padding: 10px;
  border: none;
  outline: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}