.Login {
    width: 100%;
    height: 100%;
}

form {
    width: 50%;
    height: 400px;
}

.Login, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button {
    padding: 5px;
    outline: none;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    cursor: pointer;
}