* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chrome. Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 80%;
  height:300px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}


.login-content {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
}

.login-block {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-block p {
  margin-left: 10px;
}

.login-block input {
  padding: 10px;
  margin: 10px;
  outline: none;
}

.login-block .active {
  border-color: red;
}

.login-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login-btn button {
  margin: 0 10px;
  width: 100px;
  padding: 10px;
  align-self: flex-end;
}