@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/*CityNameInput.js CSS*/
.input-city-name {
    max-height: 50px;
    min-height: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.input-css {
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 0.5px solid grey;
    border-radius: 10px;
    color: black;
}

.input-city-name button {
    cursor: pointer;
    margin-left: 10px;
}

/*App.js CSS*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-status {
    color: red;
    height: 30px;

}

.weather-result {
    width: 1200px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.city-list {
    width: 300px;
    height: 500px;
    border-right: 1px solid black;
}

.key-search {
    width: 300px;
    height: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-search p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.key-search-list {
    width: 300px;
    height: 470px;
    margin-top: 30px;
    overflow-y: scroll;
}

.city-list li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.city-list li:hover {
    background-color: rgba(240, 240, 240);
}

.weather-content {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.weather-title {
    width: 900px;
    height: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-title p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.weather-result-main {
    width: 900px;
    height: 470px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.follow-result-weather-day {
    display: flex;
    flex-direction: row;
}