@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: thistle;
    font-family: 'Noto Sans JP', sans-serif;
}

/*CityNameInput.js css*/
.input-city-name {
    display: flex;
    justify-content: center;
}

.input-css {
    padding: 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.btn-submit {
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

/*App.js css*/
.main img {
    width: 10%;
}

.main li {
    list-style-type: none;
    cursor: pointer;
}

.weather-result {
    display: flex;
    flex-direction: column;
}

.weather-result-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.city-list {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
}