* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('img/bg.jpeg');
    background-size: cover;
    height: 100%;
}

.loginForm {
    background-color: rgba(255,255,255,0.5);
    width: 600px;
    max-width: 700px;
    min-width: 550px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.form label {
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}

.form input {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border-color: none;
    font-family: 'Alata', sans-serif;
    padding-left: 10px;
}

.form button {
    margin-top: 10px;
    padding: 5px;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #CCFFFF;
    border-color: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
}