* {
    margin: 0;
    padding: 0;
    background-color: #006699;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: white;
    color: #663300;
    font-size: 50px;
}

.container {
    padding-top: 10px;
}

thead {
    background-color: white;
    color: #663300;
    font-family: 'Oswald', sans-serif;
    border: 3px solid #663300;
}

thead  {
    border: 3px solid #663300;
}

table {
    border: 2px solid #663300;
}

