/*import fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* CSS App.js */
* {
  padding: 0;
  margin: 0
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #483D8B;
}

.logo {
  max-height: 200px;
  display: flex;
  justify-content: center;  
}


.logo img {
  max-width: 100px;
  width: 100%;
  margin: 0 30px 0 30px;
}

.toolbar button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  margin: 0 10px 0 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
}

.toolbar button:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}


/* CSS of NewStaff.js */
.title {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(196,222,246,0.9);
  border-radius: 10px;
}

.input-info {
  padding: 10px;
}

.input-info label {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
}

.input-info input, select {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 15px;
  font-family: 'Roboto Slab', serif;
}

.general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-info {
  display: flex;
  flex-direction: column;
}

.detail-info-part-1, .detail-info-part-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name {
  width: 200px;
}

#issuedAt, #dob, #issuedOn, #pob {
  width: 160px;
}

#permanenceAddress, #address {
  width: 400px;
}

.submit {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.submit button {
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  font-size: 15px;
}

.submit button:hover {
  background-color: green;
  border: green;
  color: white;
}